.questions{
  font-size:20px;
  margin-top: 5%;
}
.options{
  font-size:20px;
  width:90%;
  margin:0 auto;
}
.option{
  white-space:normal;
}
#skip{
  float:right;
  margin-right:5%;
}
#prev{
  margin-left:5%;
}
#submit
{
  float:left;
    margin-left: 5%;
}
#question{
    width: 80%;
    padding-left:5%;
}
#queNumber{
    position: absolute;
    right:10%;
    top:6%;
}
#user{
    width: 30%;
    margin: 0 auto;
}
#quiz{
    width:100%;
}